.member-roles-tab__header {
  display: flex;
  justify-content: space-between;
}

.member-roles-tab__header-title {
  margin-bottom: 0;
}

.member-roles-tab__everyone_access_label {
  color: $color-neutral-700;
  font-size: 12px;
  line-height: 16px;
}

.member-roles-share-toggle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 14px;
  align-items: center;
}

.member-roles-share-toggle__sub-label {
  color: $color-neutral-500;
  font-size: 12px;
}

.member-roles-members-list__subject-section {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.member-roles-members-list__user-initials {
  flex: 0 0 30px;
  font-weight: bold;
  color: $white;
  background-color: $color-primary-500;
  border-radius: 100%;

  @include center-text(30px, 10px);
}

.member-roles-members-list__team-initials {
  flex: 0 0 30px;
  font-weight: bold;
  color: $white;
  background-color: $color-primary-500;

  @include center-text(30px, 10px);
}

.member-roles-members-list__team-member-count {
  color: $color-neutral-500;
  font-size: 12px;
}

.member-roles-members-list__user-name {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.member-roles-members-list__team-name {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-members-list__user-name {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-teams-list__team-name {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
